body {
  background-color: #3b234a;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #d4c7bf;
}

.form-header {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 400px;
  background-color: #523961;
  color: #d4c7bf;
}

label{
  color: #d4c7bf;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 90vh;
}

.formulario {
  width: 400px;
  margin: 10px 0;
}

textarea {
  resize: none;
}

.btn-todo {
  background-color: #523961;
  color: #d4c7bf;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  transition: all 1s;
  max-width: 100%;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-todo:hover {
  transition: all 0.3s;
  background-color: #baafc4;
  color: #523961;
}
