.list-todo {
  background-color: #523961;
  color: #d4c7bf;
  margin: auto;
  border: none;
  margin-bottom: 15px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: 100%;
  border: none
  
}

.btn-eliminar{
  color: #d4c7bf;
  border: 1px solid #941f1f;
}

.btn-editar{
  color: #d4c7bf;
  border: 1px solid #f4d279;
}